body {
    /* height: 700vh; */
    background-color: #111111;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.navbar-list li a {
    margin: 0 10px;
    color: white;
    transition: all 0.3s;
}

.navbar-list li a:hover {
    color: red;
}

.color-nav {
    background-color: #111111;
}

header ul {
    margin-right: 30px;

}

header li {
    margin-left: 10px;
}



.sec1 {
    background-image: url(../img/background\ keyboard.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vh;
}



.sec1 .content {
    color: white;
    transform: translateY(80%);
}


.sec1 p {

    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-weight: 200;
    font-size: 20px;
}

.sec2 {
    background-color: black;
}

.topsec2 {
    margin-bottom: 40px;
    transform: translateX(50px);
}

.sec2 h2 {
    color: #E60012;
    position: relative;
}

.sec2 h2::before {
    content: url(../img/keyboard/keyboarddescription/logo\ description.webp);
    width: 20px;
    height: 20px;
    position: absolute;
    left: -55px;
}

.sec2 .card {
    background-color: transparent;
}

.sec2 .card-text {
    color: white;
}

input[type="number"] {
    width: 50px;
    height: 30px;
    padding: 5px 10px;
    margin: 10px;
}