*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: red; */
    background-image: url(../img/home-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html{
    overflow-x: hidden;
}

.card{
    background-color: rgb(82, 80, 80);
}
/* .card {
    width: 25%; 
    height: 35rem;
    display: inline-block;
    margin: 0 10px;
  }
   */